.badGrade{
    background-color: yellow;
    color: red;
}

#definition{
    width: 300px;
    height: 180px;
    background: gray;
    color: black;
}
#courses ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#courses li
{
    margin: 10px 0 0 0;
}
label
{
    display: inline-block;
    width: 90px;
    text-align: right;
}